body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.container{
    margin:20px auto;
    border: black 2px solid;
    padding: 10px;
    border-radius: 0.5rem;
    width: 300px;
    height: auto;
}

.button-wrapper{
    margin:5px auto;
    display: flex;
    flex: 0;
}

.button{
    margin:4px;
    border:black 1px solid;
    padding: 0;

    border-radius: .5rem;
    text-align: center;
    flex:content;
    transition: all 0.2s ease;

    display: flex;
    flex-direction: column;
}

img{
    width: auto;
    height:100px;
}

.effect{
    transform: scale(1.2);
    border:black 5px dotted;
    box-shadow: 0 0 1rem #ffc600;
}

.restart{
    display:block;
    margin: 10px auto;
    padding: 1rem;
    border: 0px;
    background-color: rgb(182, 59, 59);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
}