body {
    margin:0px;
    font-family: 'Roboto', 'Roboto Slab', serif, sans-serif;
    box-sizing: border-box;
}

*{
    text-align: center;
}

header {
    margin: 0.5rem auto;
}

header > h2 {
    margin-top: -1rem;
    font-weight: 200;
}

.round {
    margin-bottom: -4px;
}

.result {
    margin-bottom: 3px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 10px auto;
    border: 3px black solid;
    border-radius: 2rem;
    padding: 1rem 3rem;

    width: 40vh;
    height: auto;
    flex: 0 1 auto;

    text-align: center;
}

img.icon {
    width: 20%;
    height: auto;
}

h2.call {
    margin: 5px;
}

.button-wrapper {
    margin: 1rem auto;
    border: 2px grey solid;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.effect {
    transform: scale(1.2);
}

img.player-sign,
img.computer-sign {
    height:100px;
}

.announce-modal {
    border: 0;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0, 0.1);
}

.announce-modal::backdrop {
    background: rgb(64, 64, 64);
}

.restart {
    display:block;
    margin: 10px auto;
    margin-top: 20px;
    padding: 1rem;
    border: 0px;
    background-color: rgb(182, 59, 59);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
}

footer {
    margin: 20px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgb(35, 33, 42);
}