body{
    font-family: 'Roboto', 'Roboto Slab', serif, sans-serif;
    box-sizing: border-box;
}

header,
p{
    text-align: center;
    margin: 0.5rem auto;
}

header > h2{
    margin-top: -1rem;
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin: 20px auto;
    border: 3px black solid;
    border-radius: 2rem;
    padding: 2rem 3rem;

    width: 35vh;
    height: auto;
    flex: 0 1 auto;

    text-align: center;
}

img.icon{
    width: 20%;
    height: auto;
}

.button-wrapper{
    margin: 1rem auto;
    border: 2px grey solid;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.effect{
    transform: scale(1.2);
    border:black 5px dotted;
    box-shadow: 0 0 1rem #ffc600;
}

img.player-sign,
img.computer-sign {
    height:100px;
}

.announce-modal{
    border: 0;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0px 0px 5px 3px rgb(0,0,0, 0.1);
}

.announce-modal::backdrop {
    background: rgb(64, 64, 64);
}

.restart{
    display:block;
    margin: 10px auto;
    margin-top: 20px;
    padding: 1rem;
    border: 0px;
    background-color: rgb(182, 59, 59);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
}